h1{
    text-align: center;
    background-color: #311313;
    color: white;
    width: 400px;
    height: 50px;
    margin: auto;
}
body{
    background-color: aquamarine;
}

.box{
    border: 4px solid red;
    width: 1000px;
    height: 600px;
    margin: auto;
}

.bir, .iki {
    background-color: aqua;
    height: 250px;
    width: 836px;
    border: 2px solid blue;
    margin: 10px;
    padding: 20px;
    font-size: medium;

}